@font-face {
    font-family: 'Oh Whale';
    src: url('OhWhale.eot');
    src: url('OhWhale.eot?#iefix') format('embedded-opentype'),
        url('OhWhale.woff2') format('woff2'),
        url('OhWhale.woff') format('woff'),
        url('OhWhale.ttf') format('truetype'),
        url('OhWhale.svg#OhWhale') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

